* {
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0 auto;
}
.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  width: 100%;
  border: 4px solid gold;
}
nav {
  background-color: cadetblue;
}
